version: '2'
services:
    os:
        build: ../centos
        image: os/centos:latest
        container_name: os
    storage:
        build: ../centos/storage
        image: os/storage:latest
        container_name: storage
        volumes:
            - db:/docker/db
            - projects:/docker/projects
            - storage:/docker/storage
            - nginx-conf:/docker/nginx-conf
            - supervisor:/docker/supervisor
            - ~/docker:/host
        tty: true
    nginx-proxy:
        image: jwilder/nginx-proxy
        container_name: nginx-proxy
        ports:
            - "80:80"
        volumes:
            - /var/run/docker.sock:/tmp/docker.sock:ro
    db:
        build: ../centos/mariadb
        image: qz/db:latest
        ports:
            - "3306:3306"
        volumes:
            - db:/var/lib/mysql
        container_name: db
    redis:
        build: ../centos/redis
        image: qz/redis:latest
        ports:
            - "6379:6379"
        volumes:
            - storage:/storage
        container_name: redis
    _app:
        build: ../centos/php7-nginx
        image: qz/php7-nginx:latest
        volumes:
            - ~/projects/_app:/var/www/html
            - ~/.ssh:/root/.ssh
            - storage:/storage
        links:
            - redis:redis
            - db:db
        depends_on:
            - redis
            - db
        environment:
            - VIRTUAL_HOST=example.com
            - APP_NAME=_app
        container_name: _app
    _queue:
        build: ../centos/laravel-queue
        image: qz/laravel-queue:latest
        volumes:
            - ~/projects/_queue:/var/www/html
            - storage:/storage
        links:
            - redis:redis
            - db:db
        depends_on:
            - redis
            - db
        environment:
            - APP_NAME=_queue
        container_name: _queue
volumes:
    db:
        external: true
    projects:
        external: true
    storage:
        external: true
