version: '2'
services:
    os:
        build: ../centos
        image: os/centos:latest
        container_name: os
    db:
        build: ../centos/mariadb
        image: qz/db:latest
        ports:
            - "3306:3306"
        volumes:
            - db:/var/lib/mysql
        container_name: db
    redis:
        build: ../centos/redis
        image: qz/redis:latest
        ports: "6379:6379"
        volumes:
            - storage:/storage
        container_name: redis
    app:
        build: ../centos/php-nginx/app
        image: qz/app:latest
        ports:
            - "80:80"
            - "22:22"
        volumes:
            - storage:/storage
            - nginx-conf:/etc/nginx/conf.d
            - supervisor:/etc/supervisor.d
        extra_hosts:
            - "sss.sss:127.0.0.1"
        links:
            - redis:redis
            - db:db
        depends_on:
            - redis
            - db
        container_name: app
    node:
        build: ../centos/node
        image: qz/js:latest
        ports:
            - "3000:80"
        volumes:
            - ~/projects/Js:/app
        container_name: js
volumes:
    db:
        external: true
    projects:
        external: true
    nginx-conf:
        external: true
    storage:
        external: true
    supervisor:
        external: true
